*~
trash/
build
*.root
*.so
*.o

# additional things...
matrix_plots/
variations/
*.pdf
ratio_list*.txt
correlation_*.txt
*variation_scale*.txt
arxiv*/
auto*/
output*/
bkg*/
detsys*/
log*.txt
env*.txt
*.log
*.pyc